version: '3.8'

services:
  loki:
    image: grafana/loki:2.9.2
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./configs/loki/loki.yml:/etc/loki/local-config.yaml:ro
      - loki_data:/loki
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - logging

  promtail:
    image: grafana/promtail:2.9.2
    container_name: promtail
    depends_on:
      - loki
    volumes:
      - ./configs/promtail/promtail.yml:/etc/promtail/config.yml:ro
      - app_logs:/var/log/wordle:ro
      - promtail_positions:/tmp
    command: -config.file=/etc/promtail/config.yml
    networks:
      - logging

volumes:
  loki_data:
  promtail_positions:
  app_logs:
    name: wordle_app_logs


networks:
  logging:
    driver: bridge
