version: "3.8"

services:
  app:
    build: .
    container_name: wordle-app
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8080:8080"
      - "9090:9090"
    environment:
      CONFIG_PATH: /app/config.yaml
      HTTP_PORT: 8080
      HTTP_READ_TIMEOUT: 10s
      HTTP_WRITE_TIMEOUT: 10s
      HTTP_IDLE_TIMEOUT: 60s
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: wordle
      POSTGRES_SSLMODE: disable
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ""
      REDIS_DB: 0
      JWT_SECRET: your-jwt-secret
      BOT_TOKEN: 7613582783:AAE5_-7beHhGHQi60PIPAfddMGecE_Dnmq0
      TONAPI_KEY: AEGOUR3VZ55ERHAAAAAMTQ2R57ID43WZOBVAJLBOSMKRV52G26CT7PLHQG6NOOTU432NYVQ
      SERVICE_NAME: wordle-api
      LOG_LEVEL: info
      LOG_FORMAT: json
      LOG_OUTPUT: stdout
      PRODUCTION: "true"
      METRICS_ENABLED: "true"
      METRICS_PORT: 9090
    volumes:
      - ./configs/config.docker.yaml:/app/config.yaml:ro
      - app_logs:/var/log/wordle
    restart: unless-stopped
    networks:
      - wordle-network
      - monitoring
      - logging

  postgres:
    image: postgres:15-alpine
    container_name: wordle-postgres
    environment:
      POSTGRES_DB: wordle
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - wordle-network

  redis:
    image: redis:7-alpine
    container_name: wordle-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - wordle-network

  # Мониторинг
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9091:9090"
    volumes:
      - ./configs/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    restart: unless-stopped
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./configs/grafana/provisioning:/etc/grafana/provisioning
      - ./configs/grafana/dashboards:/var/lib/grafana/dashboards
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=secret
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_INSTALL_PLUGINS=grafana-piechart-panel
    restart: unless-stopped
    depends_on:
      - prometheus
    networks:
      - monitoring
      - logging

  # Логирование (Grafana Loki + Promtail)
  loki:
    image: grafana/loki:2.9.2
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./configs/loki/loki.yml:/etc/loki/local-config.yaml:ro
      - loki_data:/loki
    command: -config.file=/etc/loki/local-config.yaml
    restart: unless-stopped
    networks:
      - logging

  promtail:
    image: grafana/promtail:2.9.2
    container_name: promtail
    depends_on:
      - loki
    volumes:
      - ./configs/promtail/promtail.yml:/etc/promtail/config.yml:ro
      - app_logs:/var/log/wordle:ro
      - promtail_positions:/tmp
    command: -config.file=/etc/promtail/config.yml
    restart: unless-stopped
    networks:
      - logging

volumes:
  postgres_data:
  redis_data:
  prometheus_data:
  grafana_data:
  loki_data:
  promtail_positions:
  app_logs:
    name: wordle_app_logs


networks:
  wordle-network:
    driver: bridge
  monitoring:
    driver: bridge
  logging:
    driver: bridge
